<nb-card class="card">
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="User Information">
        <form *ngIf="tableReady" [formGroup]="uInformationForm" (ngSubmit)="changeInformation()"
          class="form-inline row">
          <mat-form-field class="form-group mx-sm-3 col-sm-4">
            <mat-label for="name" class="sr-only m-1">Name</mat-label>
            <input matInput type="text" id="name" placeholder="Name" name="userName" formControlName="name" />
          </mat-form-field>
          <mat-form-field class="form-group mx-sm-3 col-sm-4">
            <mat-label for="surname" class="sr-only m-1">Surname</mat-label>
            <input matInput type="text" id="surname" placeholder="Surname" name="surname"
              formControlName="surname" />
          </mat-form-field>
          <br />
          <mat-form-field class="form-group mx-sm-3 col-sm-4">
            <mat-label for="eMail" class="sr-only m-1">Email</mat-label>
            <input matInput type="email" id="eMail" placeholder="E-Mail" name="eMail" formControlName="eMail" />
          </mat-form-field>
          <mat-form-field class="form-group mx-sm-3 col-sm-4">
            <mat-label for="profileFoto" class="sr-only m-1">Profile foto</mat-label>
            <input matInput type="profileFoto" id="profileFoto" placeholder="profileFoto" name="profileFoto"
              formControlName="profileFoto" />
          </mat-form-field>
          <mat-form-field class="form-group mx-sm-3 col-sm-4">
            <mat-label for="password" class="sr-only m-1">Password</mat-label>
            <input matInput type="password" id="password" placeholder="Password" name="password"
              formControlName="password" />
              <mat-error *ngIf="uInformationForm.value.password == ''">
                Password is <strong>required</strong>
              </mat-error>
          </mat-form-field>
          <div class="w-100"></div>
          <br />
          <button type="submit" class="btn btn-primary m-4 col-sm-2" id="changeButton"
            [disabled]="uInformationForm.invalid">
            Change information
          </button>
        </form>
      </nb-tab>
      <nb-tab tabTitle="Change Role" *ngIf="accountAuthority()">
        <mat-form-field style="width: 15%; min-width: 100px;">
          <mat-label>Role</mat-label>
          <mat-select [(value)]="selectedRole" (valueChange)="selectboxValueChange()">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <button class="btn btn-primary m-4 position-relative" id="changeRoleButton" (click)="ChangeRole()" [disabled]="roleButtonCondition" >
          Save role
        </button>
        
        <mat-divider></mat-divider>
        <h6 mat-line> This role have permision to;</h6>
        <mat-list>
          <ul>
            <li *ngFor="let permission of permissions"><span matListItemTitle> {{permission}} </span></li>
          </ul> 
        </mat-list>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>