<nb-card class="card">
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Users Information">
        <form *ngIf="tableReady" [formGroup]="uInformationForm" (ngSubmit)="changeInformation()"
          class="form-inline row">
          <mat-form-field class="form-group mx-sm-3 col-sm-4">
            <mat-label for="userName" class="sr-only m-1">Name</mat-label>
            <input matInput type="text" id="userName" placeholder="Name" name="userName" formControlName="userName" />
          </mat-form-field>
          <mat-form-field class="form-group mx-sm-3 col-sm-4">
            <mat-label for="userSurname" class="sr-only m-1">Surname</mat-label>
            <input matInput type="text" id="userSurname" placeholder="Surname" name="userSurname"
              formControlName="userSurname" />
          </mat-form-field>
          <br />
          <mat-form-field class="form-group mx-sm-3 col-sm-4">
            <mat-label for="eMail" class="sr-only m-1">Email</mat-label>
            <input matInput type="email" id="eMail" placeholder="E-Mail" name="eMail" formControlName="eMail" />
          </mat-form-field>
          <mat-form-field class="form-group mx-sm-3 col-sm-4">
            <mat-label for="profileFoto" class="sr-only m-1">Profile foto</mat-label>
            <input matInput type="profileFoto" id="profileFoto" placeholder="profileFoto" name="profileFoto"
              formControlName="profileFoto" />
          </mat-form-field>
          <mat-form-field class="form-group mx-sm-3 col-sm-4">
            <mat-label for="password" class="sr-only m-1">Password</mat-label>
            <input matInput type="password" id="password" placeholder="Password" name="password"
              formControlName="password" />
          </mat-form-field>
          <div class="w-100"></div>
          <br />
          <button type="submit" class="btn btn-primary m-4 col-sm-2" id="changeButton"
            [disabled]="uInformationForm.invalid">
            Change information
          </button>
        </form>
      </nb-tab>
      <nb-tab tabTitle="Change Role" *ngIf="accountAuthority()">
        <mat-form-field style="width: 15%; min-width: 100px;">
          <mat-label>Role</mat-label>
          <mat-select [(value)]="selectedRole" (valueChange)="newRoleSelected()">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button class="btn btn-primary m-4 position-relative" id="changeRoleButton" (click)="ChangeRole()" [disabled]="roleButtonCondition" >
          Save role
        </button>
        <mat-divider></mat-divider>
        <h6 mat-line> This account have permision to;</h6>
        <mat-list>
          <ul>
            <li *ngIf="addProduct"><span matListItemTitle>Add product permision</span></li>
            <li *ngIf="changeProduct"><span matListItemTitle>Change product permision</span></li>
            <li *ngIf="removeProduct"><span matListItemTitle>Remove product permision</span></li>
            <li *ngIf="userAdd"><span matListItemTitle>User creating permision</span></li>
            <li *ngIf="userChange"><span matListItemTitle>User information change permision</span></li>
            <li *ngIf="userDelete"><span matListItemTitle>User delete permision</span></li>
          </ul>
        </mat-list>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>