img{
  width: 250px;
  aspect-ratio: 2/2;
  object-fit: contain;
  padding: 10px;
}

nb-flip-card{
  width: 300px; 
  height: 300px;
  margin: 10px;
  min-width: 273px;
}

nb-card{
  width: 250px; 
  height: 300px;
}

.addtoCard{
  width: 120px;
  margin: 0 auto;
  display: block;
}

.prise{
  position: fixed;
  right: 20px;
  margin: 0;
  text-align: center;
  padding-top: 8px;
}

.sideButton{
  position: fixed;
  right: 0px;
  height: 298px;
  border: none; 
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,64,129,0.17969194513742992) 100%);
}

.sideButton:hover{
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,64,129,0.375770376509979) 100%); 
}
