<div class="row" id="row"></div>
<div class="col-md-6">
  <form
    [formGroup]="signUpForm"
    (ngSubmit)="runSignUp()"
    class="position-absolute top-50 start-50 translate-middle" 
    [@fadeIn]
  >
    <div class="form-group m-4">
      <label for="inputName">Name</label>
      <input
        class="form-control"
        type="text"
        formControlName="name"
        name="name"
        id="name"
        placeholder="user name"
        formControlName="name"
      />
      <div
        class="alert alert-danger p-1"
        *ngIf="
          signUpForm.get('name')?.hasError('required') &&
          signUpForm.get('name')?.dirty
        "
      >
        Need name
      </div>
    </div>
    <div class="form-group m-4">
      <label for="inputPassword1">Password</label>
      <input
        class="form-control"
        type="password"
        formControlName="password1"
        name="password1"
        id="password1"
        placeholder="password"
        formControlName="password1"
        minlength="4"
        maxlength="12"
      />
      <div
        class="alert alert-danger p-1"
        *ngIf="
          signUpForm.get('password1')?.hasError('required') &&
          signUpForm.get('password1')?.dirty
        "
      >
        Need password
      </div>
    </div>
    <div class="form-group m-4">
      <label for="inputPassword2">Password</label>
      <input
        class="form-control"
        type="password"
        formControlName="password2"
        name="password2"
        id="password2"
        placeholder="Confirm Password"
        formControlName="password2"
        minlength="4"
        maxlength="12"
      />
      <div
        class="alert alert-danger p-1"
        *ngIf="
          signUpForm.get('password2')?.hasError('required') &&
          signUpForm.get('password2')?.dirty
        "
      >
        Need to confirm password
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <button
        type="submit"
        class="btn btn-primary m-4"
        [disabled]="signUpForm.invalid"
      >
        Create
      </button>
      <button
        type="submit"
        class="btn btn-primary m-4"
        (click)="toLogin()"
      >
        I have already account
      </button>
    </div>
  </form>
</div>
