<div class="row">
  <nb-flip-card
    class="col-sm-4"
    *ngFor="let product of productListBook"
    [showToggleButton]="false"
    [id]="product.name + product.id"
  >
    <nb-card-front>
      <nb-card>
        <button
          class="sideButton"
          (click)="flipTheCard(product.name, product.id)"
        >
          <mat-icon>fast_forward</mat-icon>
        </button>
        <div>
          <img
            [src]="product.url"
            [alt]="product.name"
            style="block-size: fit-content"
          />
        </div>
        <div>
          <h6 class="prise"> {{product.price}} ₺ </h6>
          <button mat-raised-button color="accent" class="addtoCard">
            Add To Card
          </button>
        </div>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card>
        <button
          class="sideButton"
          (click)="flipTheCard(product.name, product.id)"
        >
          <mat-icon>fast_forward</mat-icon>
        </button>
        <nb-card-body>
          <h4>{{ product.name }}</h4>
          <hr />
          <p>{{ product.description }}</p>
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>
</div>
