<div class="form-container">
  <h2 mat-dialog-title>Preview Screen</h2>
  <div class="overview row">
    <nb-flip-card
    class="col-sm-4"
    [showToggleButton]="false"
    [flipped]="flipped"
  >
    <nb-card-front>
      <nb-card>
        <button
          class="sideButton"
          (click)="flipTheCard()"
        >
          <mat-icon>fast_forward</mat-icon>
        </button>
        <div>
          <img
            [src]="productForm.value.url"
            [alt]="productForm.value.name"
            style="block-size: fit-content"
          />
        </div>
        <div>
          <h6 class="prise"> {{productForm.value.price}} ₺ </h6>
          <button mat-raised-button color="accent" class="addtoCard">
            Add To Card
          </button>
        </div>
      </nb-card>
    </nb-card-front>
    <nb-card-back>
      <nb-card>
        <button
          class="sideButton"
          (click)="flipTheCard()"
        >
          <mat-icon>fast_forward</mat-icon>
        </button>
        <nb-card-body>
          <h4>{{ productForm.value.name}}</h4>
          <hr />
          <p>{{ productForm.value.description}}</p>
        </nb-card-body>
      </nb-card>
    </nb-card-back>
  </nb-flip-card>
  </div>
  <hr />
  <mat-dialog-content style="height: 350px">
    <form class="row" [formGroup]="productForm" (ngSubmit)="saveProduct()">
      <mat-form-field appearance="standard" class="col-sm-6">
        <mat-label>Product Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter product name"
          formControlName="name"
          (click)="flipped =true"
        />
      </mat-form-field>
      <mat-form-field appearance="standard" class="col-sm-6">
        <mat-label>Product picture (1:1)</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter picture url"
          formControlName="url"
          (click)="flipped =false"
        />
      </mat-form-field>
      <mat-form-field appearance="standard" class="col-sm-6">
        <mat-label>Price</mat-label>
        <input
          matInput
          type="number"
          placeholder="Enter price of product"
          formControlName="price"
          (click)="flipped =false"
        />
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        hintLabel="Category name required"
        class="col-sm-6"
      >
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option
            [value]="category.name"
            *ngFor="let category of categories"
          >
            {{ category.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard" class="col-sm-12">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
          (click)="flipped =true"
        ></textarea>
        <mat-hint text-align="end">{{productForm.value.description.length}}/650</mat-hint>
      </mat-form-field>
      <mat-dialog-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="productForm.invalid"
        >
          Save
        </button>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
